/* 
    Document   : lc.css
    Created on : Jul 6, 2013, 3:05:02 PM
    Author     : RamySelim
    Description:
        Purpose of the stylesheet follows.
*/
.lcPage{margin-top: 60px}
.teams-container{margin-top: 20px}
#masthead{height: 123px !important}

