/* 
    Document   : lc.css
    Created on : Jul 6, 2013, 3:05:02 PM
    Author     : RamySelim
    Description:
        Purpose of the stylesheet follows.
*/
.lcPage{margin-top: 60px}
.teams-container{margin-top: 20px}
#masthead{height: 196px !important}
.news-modal img{width: 250px;margin: 0 10px 10px 0}
